body {
    background-color: darkgoldenrod;
}

@font-face {
    font-family: myFirstFont;
    src: url(bardiya.ttf);
}

@font-face {
    font-family: mySecoundFont;
    src: url(baran.ttf);
}

@font-face {
    font-family: myThirdFont;
    src: url(davat.ttf);
}

#sen-1 {
    font-family: myFirstFont;
    border: black 4px solid;
    padding-left: 10px;
    height: 30px;
    width: 100px;
    background-color: honeydew;
}

#sen-2 {
    font-family: mySecoundFont;
    border: black 4px solid;
    padding-left: 10px;
    height: 30px;
    width: 100px;
    background-color: honeydew;
}

#sen-3 {
    font-family: myThirdFont, cursive;
    border: black 4px solid;
    padding-left: 10px;
    height: 30px;
    width: 100px;
    background-color: honeydew;
}
